.contact .contact-text {
  text-align: center;
  color: var(--text-primary-color);
  font-size: 16px;
  line-height: 28px;
  width: 100%;
  margin: 56px auto 56px;
}

.contact .subject-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.contact .field input {
  margin-bottom: 64px;
  width: 312px;
  height: 40px;
  font-size: 20px;
  border: transparent;
  border-bottom: 2px solid var(--form-color);
  outline: none;
}
.contact .field input:hover {
  border-bottom: 2px solid var(--primary-color);
}

.contact label,
textarea {
  margin-top: 16px;
  color: var(--form-color-darker);
  width: 312px;
  height: 80px;
  font-size: 20px;
  font-weight: var(--menu-text-weight);
  border-radius: 10px;
}

.contact button {
  max-width: 312px;
  height: 64px;
  margin-top: 32px;
  font-size: 20px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 16px;
  display: inline-block;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .contact .contact-text {
    font-size: 20px;
    line-height: 32px;
  }

  .contact .personal-contact {
    display: flex;
    flex-direction: column;
  }

  .contact .field input {
    align-items: stretch;
    width: 648px;
  }

  .contact label,
  textarea {
    width: 648px;
    height: 80px;
  }

  .contact button {
    max-width: 280px;
    margin: 32px 185px 0 185px;
    display: inline-block;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .contact .subject-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact .personal-contact {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 790px;
  }

  .contact .field input {
    width: 790px;
    align-items: center;
  }

  .contact label {
    display: block;
    height: 20px;
    width: 790px;
  }

  .contact textarea {
    width: 790px;
    height: 90px;
  }

  .contact button {
    min-width: 280px;
  }

  .contact button:hover {
    background-color: var(--primary-color);
  }
}
